<div class="projects">
    <div class="project">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>
                        <i class="fa fa-suitcase fa-2x" style="color: red"></i>
                        <b>Project 1</b>
                    </td>
                    <td class="colaborators">
                        <i class="fa fa-user fa-lg"></i>
                        <i class="fa fa-user fa-lg"></i>
                        <i class="fa fa-user fa-lg"></i>
                        <button class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></button>
                    </td>
                    <td>
                        <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
                    </td>

                    <td>
                    	<button class="btn btn-default pull-right"><i class="fa fa-pencil fa-lg"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <i class="fa fa-suitcase fa-2x" style="color: green"></i>
                        <b>Project 1</b>
                    </td>
                    <td class="colaborators">
                        <i class="fa fa-user fa-lg"></i>
                        <i class="fa fa-user fa-lg"></i>
                        <button class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i></button>
                    </td>
                    <td>
                        <progressbar class="progress-striped" value="22" type="warning">22%</progressbar>
                    </td>

                    <td>
                    	<button class="btn btn-default pull-right"><i class="fa fa-pencil fa-lg"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
